.card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    width: 200px;
    height: 250px;
    border: 4px solid white;
    transition: transform 100ms ease-in-out;
}

.card p {
    display: flex;
    border-top: 4px solid white;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
